.contHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  height: 120px;
  background-color: #E2AD07;
}

.contHeader .contMenus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  width: 500px;
}

.contHeader .contMenus .contInicio, .contHeader .contMenus .contAcercade, .contHeader .contMenus .contContacto {
  background-color: #725706;
  border-radius: 5px;
  color: #E2AD07;
  width: 110px;
  height: 40px;
  text-align: center;
  padding-top: 20px;
}

.contContenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contContenido .contArticulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.contContenido .contArticulos .contArt1, .contContenido .contArticulos .contArt2 {
  margin: 10px 10px 0px 0px;
  width: 900px;
  height: 250px;
  background-color: #F4C4B4;
  border-radius: 10px;
}

.contContenido .contArticulos .contArt1 .HeadArt1, .contContenido .contArticulos .contArt1 .HeadArt2, .contContenido .contArticulos .contArt2 .HeadArt1, .contContenido .contArticulos .contArt2 .HeadArt2 {
  margin: 40px 10px 10px 40px;
}

.contContenido .contArticulos .contArt1 .BodyArt1, .contContenido .contArticulos .contArt1 .BodyArt2, .contContenido .contArticulos .contArt2 .BodyArt1, .contContenido .contArticulos .contArt2 .BodyArt2 {
  margin: 15px 40px 10px 40px;
  text-align: justify;
}

.contSidebar {
  margin: 10px 0px 0px 0px;
  background-color: #FF5733;
  height: 510px;
  border-radius: 10px;
  border: #FF5733 1px solid;
}

.contSidebar .HeadSidebar {
  margin: 40px 10px 10px 40px;
}

.contSidebar .BodySidebar {
  margin: 15px 40px 10px 40px;
  text-align: justify;
}

.contFooter {
  margin-top: 10px;
  border-radius: 10px;
  height: 100px;
  background-color: #0D150B;
  border: #0D150B 1px solid;
}
/*# sourceMappingURL=styles.css.map */