.Logo{
    width:150px;
    height: 100px;
    padding-left: 30px;

}

.contHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    /* border:red solid;*/
    
}

.contLogo{
   /* border:red solid;*/
}

.contLinks{
    display:flex;
    padding:0 50px;
    align-items: center;
}

.Idioma{
    border:white solid;
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    padding: 6px 16px;
}

.Login{
    border-color:rgba(0,0,0,.4);
    background-color: #e50914;
    line-height: normal;
    padding: 6px 16px;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
}

.contBG{
    border: none;
    height: 600px;
    background-size: cover; /*contain/cover*/
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/18ac9873-558c-49b8-8ae5-eb42c9da346a/MX-es-20210823-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    
}

span{
    
    color: #fff;
    padding: 50px 5%;
    font-family: 'Helvetica';
    text-align: center;
    font-weight: bold
}
h1{
    font-size: 3.125rem;
    max-width: 640px;
    margin: 0 auto;
    font-weight: 400;
}
h2,h3{
    font-size: 1.125rem;
}

.LabelInput{
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
    box-shadow: none;
    justify-content: center;
}

#LabelInput{
    width: 450px;
    height: 50px;
}

.btnComenzar{
    font-size: 1.125rem;
    font-family: Helvetica;
    background-color: red;
    text-transform: none;
    width: 150px;
    height: 58px;
    font-weight: bold
}


.contPublicidad{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}



.imaLap{
    width: 450px;
    height: 300px;
}