@mixin flexR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin btnMenus {
    background-color: #725706;
    border-radius: 5px;
    color: #E2AD07;
    width: 110px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}



.contHeader{
    @include flexR();
    border-radius: 10px;
    height: 120px;
    background-color: #E2AD07;
  
    .contMenus{
        @include flexR();   
        padding-right: 40px;
        padding-left: 40px;
        width: 500px;
    
        .contInicio, .contAcercade, .contContacto{
            @include btnMenus();
        }
    }
}

.contContenido{
    @include flexR();
    .contArticulos{
        @include flexR();
        flex-direction: column;
    
        .contArt1, .contArt2{
            margin: 10px 10px 0px 0px;
            width: 900px;
            height: 250px;
            background-color: #F4C4B4;
            border-radius: 10px;

                .HeadArt1, .HeadArt2{
                    margin: 40px 10px 10px 40px;
                }

                .BodyArt1, .BodyArt2{
                    margin: 15px 40px 10px 40px;
                    text-align: justify;
                }
            }
        }
    }


    .contSidebar{

        margin: 10px 0px 0px 0px;
        background-color: #FF5733;
        height: 510px;
        border-radius: 10px;
        border: #FF5733 1px solid;

        .HeadSidebar{
            margin: 40px 10px 10px 40px;
        }

        .BodySidebar{
            margin: 15px 40px 10px 40px;
            text-align: justify;
        }
    }


    .contFooter{
        margin-top: 10px;
        border-radius: 10px;
        height: 100px;
        background-color: #0D150B;
        border: #0D150B 1px solid;
    }

