



.contHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: red 1px solid;
    border-radius: 10px;
    height: 100px;
    background-color: #CB0A3B;
  
    .contMenus{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
        padding-left: 40px;
        border: red 1px solid;
        width: 500px;
    
        .contInicio {
            padding: 20px 0px 0px 50px;
            width: 90px;
            height: 40px;
            background-color: white;
            border-radius: 5px;
            border: white 1px solid;
        }
  
        .contAcercade{
            padding: 20px 0px 0px 35px;
            width: 110px;
            height: 40px;
            background-color: white;
            border-radius: 5px;
            border: white 1px solid;
        }
  
        .contContacto{
            padding: 20px 0px 0px 40px;
            width: 100px;
            height: 40px;
            background-color: white;
            border-radius: 5px;
            border: white 1px solid;
        }
    }
}

.contContenido{
    //border: red 1px solid;
    display: flex;
    flex-direction: row;
    .contArticulos{
        //border: red 1px solid;
        display: flex;
        flex-direction: column;
        

        .contArt1, .contArt2{
            margin: 10px 10px 0px 0px;
            width: 900px;
            height: 250px;
            background-color: #FF5733;
            border-radius: 10px;

                .HeadArt1, .HeadArt2{
                    margin: 40px 10px 10px 40px;
                }

                .BodyArt1, .BodyArt2{
                    margin: 15px 40px 10px 40px;
                    text-align: justify;
                }
            }
        }
    }


    .contSidebar{

        margin: 10px 0px 10px 0px;
        background-color: #FF5733;
        height: 510px;
        border-radius: 10px;
        //border: red 1px solid;

        .HeadSidebar{
            margin: 40px 10px 10px 40px;
        }

        .BodySidebar{
            margin: 15px 40px 10px 40px;
            text-align: justify;
        }
    }


    .contFooter{
        border-radius: 10px;
        height: 100px;
        background-color: #CB0A3B;
    }

