*{ 
    Margin:0; 
    padding:0; 
    box-sizing:border-box;
}

.contHeader{
    background-color: #FFE600;
    width: 100%;
    height: 230px;
}

.contHead1{
    padding-left: 20px;
}
.img1{
    width: 150px;
    height: 80px;
}

.form{
    background-color: white;
    width: 424px;
    height: 471px;
    margin-left: 420px ;
    border-radius: 10px;
    
    .formContent{
        padding: 50px 50px 10px 50px ;
        display: flex;
        flex-direction: column;

        //align-items: center;
        border-radius: 10px;
        width: 424px;
        height: 471px;

        .formTitle{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 25px;
            color: rgba(0,0,0,.8);
            font-weight: 600;
            letter-spacing: .0125rem;
        }

        .Label1{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.0714285714em;
            color: rgba(0,0,0,.8);
            padding: 30px 0px 5px 5px;
            
        }
        .mailInput{
            padding: 10px 0px 20px 10px;
            //border: red 1px solid;
            width: 296px;
            height: 50px;
            border-radius: 5px;
            border: gray 1px solid;
        }

        .btnLogin{
            margin-top: 30px;
            padding: 15px 0px 15px 110px;
            width: 296px;
            height: 50px;
            border-radius: 5px;
            background-color:#3484e0;

            //#2968C8
        }

        #btnFont{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
            color: azure;
        }

        .linkCrear{
            margin-top: 10px;
            padding: 15px 0px 15px 110px;
            width: 296px;
            height: 50px;
    
        }

        #CrearFont{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
            color: #3484e0;
        }


        .linkForgot{
            margin-top: 10px;
            padding: 50px 0px 0px 70px;
            width: 296px;
            height: 50px;
        }
        #ForgotFont{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 600;
            color: #3484e0;
        }
        
    }
}