/*Definir estilos responsivos*/
@media (min-width:320px)
and (max-width:480px){

    .Logo{
        width: 110px;
        height: 88px;
        padding-left: 10px;
        padding-top:0px;
        fill: #e50914;
        line-height: normal;
    }
    .contLinks {
        display: flex;
        /* border: 10px solid blue; */
        flex-direction: row;
        min-width: 290px;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        
    }

    .Login {
        border-color: rgba(0,0,0,.4);
        background-color: #e50914;
        line-height: normal;
        height: 30px;
        width: 120px;
        padding: 0px 0px 0px 0px;
        font-weight: 100;
        font-size: 0.9rem;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .Idioma{
        border:white solid;
        background: rgba(0,0,0,.4);
        border: 1px solid #aaa;
        height: 28px;
        width: 100px;
        color: #fff;
        font-size: .875rem;
        font-weight: 400;
        padding: 0px 0px 0px 0px;
    }

    .contComenzar{
        color: #fff;
        padding-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        font-weight: bold;
        min-width: 380px;
        /*border: 10px solid blue;*/
    }

    .contTextos{
        padding-left: 10px;
        padding-bottom: 20px;
        /*border: 10px solid blue;*/
    }

    h1{
        color:seashell;
        font-size: 2rem;
        max-width: 1000px;
        padding:10px 0px 0px 0px; 
       /* border: 10px solid blue;*/
    }

    h3{
        color:seashell;
        font-size: 1.2rem;
        padding:10px 10px 20px 0px;
        font-weight: 400;
    }

    .LabelInput{
        color:seashell;
        height: 48px;
        padding: 100px 10px 0px 100px;
        min-width: 250px;
        box-shadow: none;
        justify-content: center;
    }
    
    #LabelInput{
        width: 330px;
        height: 50px;
        font-size: 15px;
        
    }

    .btnComenzar{
        color:seashell;
        font-size: 1rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: red;
        width: 130px;
        height: 40px;
        margin-top: 10px;
    }

    .contBG{
        border: none;
        height: 530px;
        width: 380px;
        background-size: cover; /*contain/cover*/
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/18ac9873-558c-49b8-8ae5-eb42c9da346a/MX-es-20210823-popsignuptwoweeks-perspective_alpha_website_large.jpg');
        
    }

    .contPublicidad{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*border : 10px solid blue;*/
        background-color: black;
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 8px solid #222;
        border-top: 8px solid #222;
        width: 380px;
        height: 500px;
    }
    .contTxtPub{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 500px;
        height: 200px;
        /*border : 10px solid blue;*/
        padding:30px 0px 0px 25px;
    }
    *{ 
        Margin:0; 
        padding:0; 
        box-sizing:border-box;
    }

   h5{
        color:seashell;
        font-size: 30px;
        padding-left: 10px;
        margin: 20px;
        
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    h4{
        color:seashell;
        font-size: 1.15rem;
        font-weight: 400;
        padding-top: 10px;
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .imaLap{
        width: 350px;
        height: 250px;
        padding-top: 0px;
        /*border : 10px solid blue;*/
    }

    .imaPub{
        /*border : 10px solid blue;*/
        padding:0; 
        width: 350px;
        height: 280px;
    }
    
}