.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border : 10px solid yellow;
}
.cont1{

    border-width: 20px;
    border : 10px solid red;
}

.contA{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 20px;
    border : 10px solid gray;
}

.cont2{
    border : 10px solid violet;

}

.cont3{
    border : 10px solid green;

}


